main.table {
    height: fit-content;
}

.btn-cadastro {
    background-color: #165986;
    box-sizing: border-box;
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 18px;
    margin-left: 1.6%;
    display: flex;
    font-weight: 600;
    cursor: pointer;
    max-width: 140px;
    align-self: flex-end;
    transition: all .3s ease-in-out;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.349) ;
}

.btn-cadastro:hover {
    transform: scale(1.08);
    transition: all .3s ease-in-out;
    background-color: aliceblue;
    color: #165986;
    box-shadow: 5px 7px 9px rgba(0, 0, 0, 0.349) ;
}

.btn-acesso {
    padding: 8px;
    background-color: rgb(236, 177, 15);
    font-size: 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.btn-acesso:hover {
    color: rgb(236, 177, 15);
    background-color: white;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.349) ;
    transition: all .3s ease-in-out;
    font-weight: bold;
}

td, th {
    min-width: 140px;
}

@media (max-width: 700px) {
    .btn-cadastro {
        padding: 10px 15px;
        max-width: 130px;
    }

    .btn-acesso, .btn-edicao, .btn-exclusao {
        font-size: 17px;
        padding: 7px;
    }

    table {
        padding: .6rem .5rem;
    }

    td {
        padding: .3rem .4rem;
        font-size: 14px;
    }
}