.form_medicamentos .form-section {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 20px 30px;
    margin-bottom: 10px;
}

.novo-residente {
    background-color: #165986;
    box-sizing: border-box;
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 18px;
    margin-left: 1.6%;
    display: flex;
    font-weight: 600;
    cursor: pointer;
    max-width: 180px;
    align-self: flex-end;
    transition: all .3s ease-in-out;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.349) ;
}

.novo-residente i {
    font-size: 18px;
    font-weight: 300;
    margin-left: 5px;
}

.novo-residente:hover {
    transform: scale(1.06);
    transition: all .3s ease-in-out;
    background-color: aliceblue;
    color: #165986;
    box-shadow: 5px 7px 9px rgba(0, 0, 0, 0.349) ;
}

.dados-principais {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.search-content {
    background-color: #1a75b1d3;
    display: grid;
    grid-template-columns: 1fr .3fr;
    margin-top: 20px;
    padding: 20px 38px;
    gap: 40px;
    place-items: center;
}

.search-input {
    border-radius: 20px;
    height: 38px;
    padding: 20px;
    font-size: 15px;
}

.buttons-edicao {
    min-width: 172px;
}

.btn-observacao {
    padding: 5px;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    cursor: pointer;
    color: rgb(53, 147, 209);
    font-weight: 200;
    transition: all .3s ease-in-out;
}

@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 11rem;
    }
}

@media (max-width: 700px) {
    .form_medicamentos .form-section {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .form_medicamentos {
        margin: 10px 10px;
    }

    .dados-emergencia-input {
        gap: 10px;
        padding: 15px 10px 30px;
    }

    .btn-area {
        grid-row: 3;
    }

    .dados-emergencia {
        grid-column: 1;
        grid-row: 2;
    }

    .search-content {
        grid-template-columns: 1fr .3fr;
        margin-top: 20px;
        padding: 20px 20px;
        gap: 20px;
        place-items: center;
    }

    .btn-pesquisa {
        grid-column: 2;
        place-self: center;
        width: 100%;
        margin-top: 0px;
    }
}

@media (max-width: 400px) {
    .form_medicamentos {
        margin: 15px 0px;
    }

    .form_medicamentos .form-section {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .dados-emergencia-input {
        grid-template-columns: 1fr 1fr;
        padding: 20px 10px 20px;
        gap: 8px;
    }

    .dados-emergencia h3 {
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .btn-area {
        width: 70%;
    }

    .form-sub-section {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;
        gap: 5px;
    }

    .search-content {
        margin-top: 20px;
        padding: 15px 10px;
        gap: 15px;
        place-items: center;
    }

    th, td {
        padding: .1rem .7rem;
    }

    .btn-edicao, .btn-exclusao, .btn-cad-medicamento {
        padding: 6px;
        font-size: 20px;
        margin-right: 5px;
    }
}