.form-header {
    background-color: rgb(13, 172, 184);
}

.btn-medicamento {
    background-color: rgb(13, 172, 184);
}

.btn-medicamento:hover {
    color: rgb(13, 172, 184);
    background-color: white;
    transition: all .3s ease-in-out;
}

label, p {
    color: rgb(10, 96, 102);
}

input, select, textarea {
    outline: 1px solid rgb(169, 218, 221);
}

input:focus,
select:focus,
textarea:focus {
    outline: 2px solid rgb(13, 172, 184);
}

.complemento-input {
    width: 160px;
    box-sizing: border-box;
    margin-top: 38px;
    margin-bottom: 0;
}

.complemento-input p {
    margin: 0;
}