body {
    margin: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #76839162;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    max-width: 380px;
    background: #c1eaf1;
    background: linear-gradient(#d4f2f7, #a9e4ee);
    border-radius: 5px;
    box-sizing: border-box;
}

.form-header {
    text-align: center;
    background-color: #0d5788;
    padding: 4px;
    color: white;
    border-radius: 5px 5px 0px 0px;
    font-size: 12px;
    position: relative;
}

.btn-close {
    position: absolute;
    top: 4px;
    right: 5px;
    font-size: 28px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn-close:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.1);
    text-shadow: 5px 6px 7px black;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px 25px 25px;
}

.form-sub-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn-medicamento {
    background-color: #0d5788;
    border: none;
    height: 40px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 15px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.247);
    border-radius: 2px;
    width: 100%;
    font-size: 15px;
    transition: all .3s ease-in-out;
    margin-top: 5px;
}

.btn-medicamento:hover {
    color: #0b4b75;
    background-color: white;
    transition: all .3s ease-in-out;
}

input, select, textarea {
    border: none;
    box-sizing: border-box;
    height: 29px;
    padding: 5px 8px;
    border-radius: 2px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.13);
    width: 100%;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    outline: 1px solid rgb(169, 203, 221);
}

input:focus,
select:focus,
textarea:focus {
    outline: 2px solid rgb(11, 98, 148);
}

textarea {
    height: 70px;
    resize: none;
}

label {
    font-size: 15px;
    color: #082e47;
    margin-bottom: 8px;
}