main.table {
    margin: auto;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 10px;
    max-width: 520px;
    height: fit-content;
}

h2 {
    font-size: 19px;
    padding: 0px 20px;
}

.btn-back {
    color: white;
    padding: 8px;
    font-size: 25px;
    margin-top: 12px;
    align-self: flex-start;
    transition: all .3s ease-in-out;
}

.btn-back:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.1);
    text-shadow: 5px 6px 7px black;
}

.back-link {
    position: absolute;
    left: 18px;
    top: -6px;
}

.form_medicamentos .form-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-sub-section {
    display: grid;
    grid-template-columns: 1fr .62fr;
}

.input-area {
    width: 100%;
}

.input-area input, select {
    font-size: 15px;
}

.btn-area {
    align-self: center;
    width: 100%;
    margin: 10px 0px 0px;
}

@media (max-width: 500px) {
    .form_medicamentos {
        margin: 17px;
    }

    .back-link {
        position: absolute;
        left: 10px;
        top: -7px;
    }
    
    h2 {
        font-size: 18px;
    }
}