@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.inicio-area {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85%;
    gap: 10px;
    justify-items:center;
    align-items: center;
    font-family: 'Montserrat';
}

.inicio-conteudo {
    font-size: 16px;
    color: rgb(6, 66, 105);
    align-content: center;
}

.inicio-conteudo h1{
    font-size: 2.2rem;
    color: rgb(6, 66, 105);
    font-weight: bold;
}

.inicio-conteudo p{
    color: rgb(6, 54, 88);
}

.inicio-area img {
    max-width: 550px;
    justify-self: flex-end;
}

.btn-consulta {
    background-color: rgb(13, 79, 122);
    color: white;
    border-radius: 4px;
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    align-content: center;
    box-sizing: border-box;
    padding-left: 15px;
    width: 230px;
    height: 36px;
    margin-top: 10px;
    font-weight: 600;
    transition: all .3s ease-in-out;
}

.btn-consulta p {
    align-self: center;
    color: white;
}

.btn-consulta i {
    font-size: 30px;
    background-color: rgb(7, 56, 88);
    align-self: center;
    padding: 3px 2px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-consulta:hover {
    transform: scale(1.05);
    background-color: rgb(7, 56, 88);
}

.container-dados-area {
    padding: 50px 0px 60px;
    margin: 20px 0px 0px;
    font-family: 'Montserrat';
}

#titulo2 {
    color: rgb(7, 48, 73);
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
    font-size: 1.7em;
}

.dados-area {
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 850px;
    gap: 60px;
}

.card-dados {
    background-color: rgba(36, 127, 187, 0);
    width: 240px;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    height: 105px;
    padding: 18px 20px;
    border-radius: 8px;
    position: relative;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: .3s all ease-in-out;
    z-index: 2;
    color: rgb(13, 63, 97);
    font-size: 20px;
    align-items: center;
}

.card-dados-principal, .card-dados2 {
    position: absolute;
    min-width: 200px;
    background-color: rgb(242, 248, 253);
    top: -20px;
    left: -20px;
    z-index: -1;
    text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.226);
}

.card-dados2 {
    top: -10px;
    left: -10px;
    background-color: rgb(7, 56, 88);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.301);
}

.card-dados-principal:hover {
    top: -10px;
    left: -10px;
    background-color: rgb(7, 56, 88);
    color: white;
}

.card-info h2, .card-info p{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.card-info p{
    margin-top: 10px;
    font-size: 21px;
    font-weight: 400;
}

.section-dados1 {
    background: linear-gradient(#ffffff, #a9d8f5);
}

.section-dados2 {
    background-color: rgb(7, 56, 88);
    padding: 50px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    background-image: url(../img/login-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.13) inset;
}

.section-dados3 {
    background: linear-gradient(#bbe2fa, #ffffff);
    height: 600px; 
}

.table__body {
    margin: 0;
    border-radius: 10px;
    overflow: auto;
    max-width: 500px;
    min-width: 390px;
    height: 230px;
}

.table__body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

table {
    width: 100%;
    font-size: 15px;
}

table, th, td {
    border-collapse: collapse;
    padding: .9rem .7rem;
    text-align: left;
}

td{
    width: max-content;
    padding: .6em .7em;
}

thead th {
    top: 0;
    left: 0;
    background-color: rgb(7, 56, 88);
    color: rgb(255, 255, 255);
}

tbody > tr:nth-child(even){
    background-color: #ffffffdc;
}

tbody > tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0.966);
}

.alert1 {
    font-size: 25px;
    color: rgb(236, 177, 15);
}

.alert2 {
    font-size: 25px;
    color: rgb(196, 1, 1);
}

.header-reminders {
    background-color: rgb(7, 56, 88);
    padding: 10px;
    margin: -20px;
    margin-bottom: 10px;
    color: white;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
}

.reminders {
    max-width: 500px;
    padding: 20px;
    background-color: rgb(252, 252, 252);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.reminders-content {
    display: grid;
    gap: 20px;
}

.card-reminder {
    padding: 10px;
    background-color: rgba(241, 241, 241, 0.829);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
}
.card-reminder i{
    font-size: 25px;
    margin-right: 10px;
}

.reminder-deleted {
    background-color: red;
    width: 10px;
    margin: -10px;
    margin-right: 10px;
    border-radius: 10px 0 0 10px;
}

.reminder-included {
    background-color: rgb(23, 168, 18);
    width: 10px;
    margin: -10px;
    margin-right: 10px;
    border-radius: 10px 0 0 10px;
}


@media (max-width: 1000px) {
    .inicio-area {
        margin: 10px auto 0px;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .inicio-area img {
        justify-self: center;
    }

    .card-info h2, .card-info p{
        margin: 0;
        font-size: 18px;
    }

    .dados-area {
        gap: 30px;
        max-width: 750px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .card-dados {
        width: 210px;
        height: 90px;
        padding: 15px 12px;
       
        box-sizing: border-box;
        cursor: pointer;
        transition: .3s all ease-in-out;
        z-index: 2;
        color: rgb(13, 63, 97);
        font-size: 15px;
    }
}

@media (max-width: 800px) {
    .section-dados2 {
        padding: 50px 20px;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    main {
        margin-left: -18px;
    }
    .inicio-area {
        width: 95%;
        margin-left: 5px;
        margin-top: 30px;
        line-height: 25px;
    }

    .inicio-conteudo h1{
        font-size: 1.6rem;
    }
    
    .dados-area {
        gap: 50px;
    }
}