body {
    background: linear-gradient(#ffffff, #bbe2fa);
}

.inicio-area {
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.inicio-conteudo {
    font-size: 13px;
    color: rgb(7, 82, 133);
    align-content: center;
}

.inicio-area img {
    max-width: 520px;
}

.btn-consulta {
    background-color: rgb(7, 87, 141);
    padding: 0px 0px 0px 0px;
    color: white;
    border-radius: 3px;
    font-size: 15px;
    display: flex;
    width: 220px;
    place-content: center;
    justify-content: space-between;
    gap: 5px;
}

.btn-consulta a {
    padding-top: 10px;
}

.btn-consulta i {
    font-size: 30px;
    background-color: rgb(7, 169, 209);
    height: 100%;
}

.dados-area {
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
    gap: 30px;
}

.card-dados {
    background-color: rgb(248, 242, 242);
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 7px 10px 13px rgba(0, 0, 0, 0.301);
}